<app-header></app-header>

<div class="container slide-right">
    <div class="login-div">
        <mat-card>
            <h1>{{title}}</h1>
            <form id="login-form" [formGroup]="loginForm" (ngSubmit)="login()">
                <mat-form-field appearance="fill">
                    <mat-label>{{userTitle}}</mat-label>
                    <input matInput type="text" placeholder="Ex: myusername" formControlName="username" name="username"
                        required>
                    <mat-error *ngIf="loginForm.invalid">{{userError}}</mat-error>
                </mat-form-field>

                <br>

                <mat-form-field appearance="fill">
                    <mat-label>{{passwordTitle}}</mat-label>
                    <input matInput type="password" formControlName="password" name="password" required>
                    <mat-error *ngIf="loginForm.invalid">{{passwordError}}</mat-error>
                </mat-form-field>

                <br>

                <button mat-raised-button aria-label="Login Button" type="submit">
                    {{loginButton}}
                </button>
            </form>
        </mat-card>
    </div>
</div>