@import "/src/styles.scss";

mat-toolbar {
    background: $color-primary-a;
    margin-bottom: 20px;

    .login-data {
        margin-left: auto;
    }

    button {
        background-color: $gray-60;
    }

    span {
        font-size: 17px;
        margin-right: 10px;
    }
}